* {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: tahoma;
}

.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}

#fullpage {
    height: 100vh;
    overflow: hidden;
    }
#fullpage section {
    height: 100vh;
    
}
/* -------------------------------------------pagina 1------------------------------------------------*/
.banner {
    margin: 0 auto;
    height: 100vh;
    width: auto;
    position: relative;
}
.background1 {
    width: 100%;
    height: 100%;
    background: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: blur(2px) grayscale(100);
    -webkit-filter: blur(2px) grayscale(100);
    -moz-filter: blur(2px) grayscale(100);
    -o-filter: blur(2px) grayscale(100);
    
}

.overlay {
    height: 100%;
    width: auto;
    background: rgba(0,0,0,0.6);
    
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content h1 {
    text-transform: uppercase;
    font-size: 4em;
    color: aliceblue;
    
}

/* ------------------------------------------------pagina 2---------------------------------------------------- */
.content p {
    color: aliceblue;
}

.about {
    height: 100vh;
    width: auto;
    position: relative;
}
.background2 {
    width: 100%;
    height: 100%;
    background: url('../img/cover1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
}
.background2 .overlay {
    height: 100%;
    width: auto;
    background: rgba(0,0,0,0.8);
}
.container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    color: aliceblue;
}
.outter {
    width: 95%;
    height: 85%;
    margin: 0 auto;
}

.quickabout {
    padding: 6em 3em 0 7.9em;
    width: 50%;
    text-align: center;
    float: left;
    line-height: 1.7;
    font-size:1em;
}
.quickabout p {
    padding-top: 2em;
    
}
.avatar {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 35%;
    height: 100%;
    float: left;
}
.inner-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.avatar img {
    height: 320px;
    width: 320px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
   /* border: 1px solid aliceblue; */
}
.social {
    position: relative;
    padding-top: 6em;
    font-size: 1.1em;
    height: 100%;
    width: 15%;
    float: right;
}
.social p.title {
    text-align: right;
    margin-bottom: 0;
    
}
.social .btn {
    height: 50px;
    width:100%;
    margin-top:3em;
    position: relative;
    }
social a{
    text-decoration: none;
}


.btn-fb, .btn-gab, .btn-minds, .btn-linkedin {
     text-align: right; 
     background-color: aliceblue;
     border: 1px solid #000;
     right: 0;
     position: absolute;
     height: 50px;
     width:50px;
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}

.social img {
    
    height: 100%;
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}
#facebook, #gab, #minds, #linkedin {
    position: absolute;
    width:70px;
    float:left;
    margin-top: .8em;
    margin-left:0;
    text-align: right;
    opacity: 0;
    right: 0;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    }

.contact {
    padding-top: 3em;
    width: 95%;
    height: 15%;
    margin: 0 auto;
}

.card {
    
    width: 19%;
    float: left;
    text-align: center;
    margin: 0 auto;
}
/* ------------------------------------------------pagina 3---------------------------------------------------- */

.edskills {
    height: 100vh;
    width: auto;
    position: relative;
    
}
.background3 {
    width: 100%;
    height: 100%;
    background: url('../img/cover2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
}
.background3 .overlay {
    height: 100%;
    width: auto;
    background: rgba(0,0,0,0.8);
}
.edskills .title {
    font-size: 1em;
    font-weight: 300;
    height: 3.5em;
    width: 25em;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    border-top: 1px solid #95D3FF;
    border-bottom: 1px solid #95D3FF;
    line-height: 3.5em;
    position: relative;
    }
.edskills .inner-title {
    height: 3.2em;
    line-height: 3.2em;
    top:.09em;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid #95D3FF;
    border-bottom: 1px solid #95D3FF;
}
.highschool, .college {
    margin-top: 1.2em;
    height: 11em;
    width: 100%;
}
.webdev {
    margin-top: 1.2em;
    height: 14em;
    width: 100%;
}
.college h2 span {
    font-size: .45em;
}
.container2 {
    width: 95%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
    position: absolute;
    padding: 0;
    top: 0;
    overflow: hidden;
        
}

.description, .batteries .battery .corp, .batteries .battery .actualpeak {
    float: left;
    background: rgba(0,0,0,0.5);
}


.description {
    height: 100%;
    width:45%;
    padding: .7em;
    border: 2px solid #95D3FF;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    position: relative;
}

.description span {
    font-size: .7em;
}
.description .header{
    padding-bottom:1em;
}
.description p{
    font-size: .9em;
    line-height: 1.4;
    z-index:100;
}

.description .skills {
    right: 0;
    top: 2em;
    position: absolute;
    width: 30%;
    height: 100%;
    font-size: 0.8em;
    line-height: 1.4em;
    opacity: 0;
    }
.skills.skills1 {
    top: 4em;
    
}
.skills.skills2 {
    top: 3em;
    
}

.skills .fa-circle {
    font-size: .9em;
    color: #888;
    
    
}
.skills .ratings {
    margin-bottom: 5px;
}
.skills .ratings.ratings1 .fa-star:nth-child(1),
.skills .ratings.ratings2 .fa-star:nth-child(1),
.skills .ratings.ratings3 .fa-star:nth-child(1),
.skills .ratings.ratings3 .fa-star:nth-child(2),
.skills .ratings.ratings3 .fa-star:nth-child(3),
.skills .ratings.ratings4 .fa-star:nth-child(1),
.skills .ratings.ratings4 .fa-star:nth-child(2),
.skills .ratings.ratings4 .fa-star:nth-child(3),
.skills .ratings.ratings5 .fa-star:nth-child(1),
.skills .ratings.ratings5 .fa-star:nth-child(2),
.skills .ratings.ratings5 .fa-star:nth-child(3),
.skills .ratings.ratings6 .fa-star:nth-child(1),
.skills .ratings.ratings6 .fa-star:nth-child(2),
.skills .ratings.ratings6 .fa-star:nth-child(3),
.skills .ratings.ratings7 .fa-star:nth-child(1),
.skills .ratings.ratings7 .fa-star:nth-child(2),
.skills .ratings.ratings8 .fa-star:nth-child(1),
.skills .ratings.ratings8 .fa-star:nth-child(2)
{
    color: greenyellow;
}
.skills p {
    padding-bottom: 1px;
}
.links {
    float: left;
    height: 100%;
    width:8%;
}
.highschool .link, .college .link {
    height: 50%;
    width: 0%;
    position: relative;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}

.webdev .link {
    height: 25%;
    width: 0%;
    position: relative;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}
.highschool hr, .college hr {
    border: none;
    border-top: 4px solid #D2691E;
    width: 70%;
    top: 50%;
    position: absolute;
    
}
.webdev hr {
    border: none;
    border-top: 4px solid #D2691E;
    width: 70%;
    top: 50%;
    position: absolute;
    
}
.highschool .plug, .college .plug {
    position: absolute;
    font-size: 2.4em;
    color: #D2691E;
    top:25%;
    right: 0;
    opacity: 0;
    transform: rotate(45deg);
     transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}
.webdev .plug {
    position: absolute;
    font-size: 2.4em;
    color: #D2691E;
    top:12%;
    right: 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}

.batteries {
    width:47%;
    height: 100%;
    float: left;
    position: relative;
    
}



.highschool .battery {
    height: 3em;
    width: 100%;
    position: absolute;
}

.highschool .battery:first-child {
    top: 1.4em;
}
.highschool .battery:last-child {
    bottom: 1.2em;
}
.college .battery { 
    height: 3em;
    width: 100%;
    position: absolute;
}
.college .battery:first-child {
    top: 1.4em;
}
.college .battery:last-child {
    bottom: 1.2em;
}
.webdev .battery {
    height: 3em;
    width: 100%;
    position: absolute;
}
.webdev .battery:nth-child(1) {
    top:.4em;
}
.webdev .battery:nth-child(2) {
    top:3.9em;
}
.webdev .battery:nth-child(3) {
    bottom: 3.6em;
}
.webdev .battery:nth-child(4) {
    bottom: .1em;
}


.battery .corp {
    height: 100%;
    width: 80%;
    border-top: 2px solid #95D3FF;
    border-bottom: 2px solid #95D3FF;
    border-left: 2px solid #95D3FF;
    float: left;
    text-align: right;
    line-height: 3em;
    padding-right: 1em;
}

.varf {
    height: 100%;
    width: 30px;
    float: left;
    position: relative;
}
.varf .lineup {
    position: absolute;
    top:0;
    display: block;
    height: 12px;
    width: 100%;
    border-left: 2px solid #95D3FF;
}
.varf .linebottom {
    position: absolute;
    bottom: 0;
    display: block;
    height: 12px;
    width: 100%;
    border-left: 2px solid #95D3FF;
}
.varf .actualpeak {
    position: absolute;
    top:11px;
    height: 25px;
    display: block;
    width: 20px;
    border-top: 2px solid #95D3FF;
    border-bottom: 2px solid #95D3FF;
    border-right: 2px solid #95D3FF;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-top-right-radius:5px;
    -o-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-top-right-radius:5px;
    -o-border-top-right-radius:5px;
}

.corp p  {
    z-index: 100;
    position: absolute;
    right: 25%;
    text-shadow: 2px 2px 4px #000;
}

.corp .unit {
    height: 100%;
    width: 10%;
    float: left;
    z-index: 100;
    opacity: .1;
    margin: 1px;
}

.highschool .corp .unit {
    background: #ff8080;
}
.college .corp .unit {
    background: #cccc00;
}
.webdev .corp .unit {
    background: #ffff66;
}
/*------------------------------------------pagina 4-----------------------------------------------------------------*/
.port {
    height: 100vh;
    width: 100%;
    position: relative;
}
.outter-port {
    width: 50%;
    height: 70vh;
    text-align: left;
    margin: 0 auto;
    margin-top: 5em;
    position: relative;
}
.portofolio {
    height: 60vh;
    width: 100%;
    border: 2px solid #95D3FF;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    background: #222;
    opacity: 1;
    
}
.port .description {
    margin: 0 auto;
    background: none;
    opacity: none;
    border: none;
    width: 100%;
    
}

.proj {
    height: 50%;
    width: 33.33%;
    background: #000;
    float: left;
    opacity: 1;
    transition: opacity ease-in-out 0.5s;
    position: relative;
 }
.proj h5{
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: center;
    top:0;
    opacity: 0;
    transition: all ease-in-out .7s;
    pointer-events: none;
   
}
.proj:hover{
    opacity: 1;
    
}
.proj a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    line-height: 100%;
    position: absolute;
    
    
}
.titlu_proiect{
    opacity: 0.3;
    z-index: 1;
    height: 100%;
    line-height: 30px;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    background: #000;
    text-align: center;
    transition: opacity ease-in-out 0.3s;
    
}

.proj1 {
    z-index: 0;
    background: url('../img/proj1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}
.proj2 {
    z-index: 0;
    background: url('../img/proj2.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

/*------------------------------------pagina4 cta-------------------------------------*/

.background1.cta {
    filter: blur(2px) grayscale(0);
    -webkit-filter: blur(2px) grayscale(0);
    -moz-filter: blur(2px) grayscale(0);
    -o-filter: blur(2px) grayscale(0);
}

.clujlogo img {
    height: 7em;
    width: auto;
    opacity: .4;
    margin-top: 1em;
    transition: opacity 1s;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;  
    -o-transition: opacity ease-in-out 1s;
}

.phone .fa-phone, .mail .fa-envelope {
    color: #95D3FF;
    float: left;
    margin-right: 4px;
    font-size: 1em;
    text-align: left;
   }

.keeptouch{
    line-height: 1.5;
    position: relative;
}

.phone, .mail {
    margin-bottom: 2px;
    width: 13em;
}
.phone {
    left: 50%;
    position: absolute;
    transform: translateX(-30%);
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -o-transform: translateX(-30%);
}
.mail{
    left: 50%;
    top: 3.2em;
    position: absolute;
    transform: translateX(-45%);
    -webkit-transform: translateX(-45%);
    -moz-transform: translateX(-45%);
    -o-transform: translateX(-45%);
    
}
.phone p, .mail p {
    margin: 0;
    padding: 0;
    text-align: left;
    
}

.footer {
    color: aliceblue;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 125%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    
}

.clujlogo {
    margin-bottom: 3em;
}
.clujlogo img:hover{
    opacity: 1;
}
.clujlogo p {
    font-size: 1.5em;
}
.laststat{
    margin-bottom: 3em;
}
.laststat p{
    line-height: 1.2;
    margin-bottom: 2em;
}
.laststat a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #95D3FF;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -o-border-radius: .4em;
    box-shadow: 2px 2px 3px #000;
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
.laststat a:hover{
    border: 1px solid #fff;
    background-color: #fff;
    opacity: 1;
    color: #000;
    
}

.keeptouch p:nth-child(1){
    font-size: 1.4em;
}
.keeptouch p:nth-child(2), .keeptouch p:nth-child(3) {
    font-size: .9em;
    
}

/*----------------------------------------minimenu----------------------------------------------------------*/

.minimenu{
    position: fixed;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.disc{
    background-color: aliceblue;
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    border-radius:50%;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    margin: 0 auto;
    font-size: .8em;
    opacity: .1;
    transition: opacity ease-in-out .5s;
    
}
.disc:hover{
    opacity: .5;
}
.minimenu a{
    height: 100%
    width:100%;
    text-decoration: none;
    
}
.solidDisc {
    opacity: .5;
}

/* ------------------------------------------------media queries---------------------------------------------------- */

@media screen and (max-width: 1170px){
    .quickabout {
        font-size:0.95em;
        padding: 6em 3em 0 5em;
        width: 55%;
        
    }
    .avatar {
        width: 30%;
    }
    .avatar img {
        height: 200px;
        width: 200px;
    }
}



@media screen and (max-width: 952px){
    .quickabout {
        font-size:0.9em;
        padding: 6em 3em 0 5em;
        width: 60%;
     }
    .avatar {
        width: 25%;
    }
    .avatar img {
        height: 170px;
        width: 170px;
    }
    .contact {
        font-size: .8em;
    }
    .social {
        font-size: .8em;
        padding-top: 12em;
    }
    
    .batteries, .links {
        display: none;
        
    }
    .description {
        width: 100%;
    }
    .description p {
        width: 60%;
    }
    .description .skills {
        opacity: 1;
    }
}



@media screen and (max-width: 768px){
    
    .about{
        font-size: 1.05em;
    }
.outter {
    width: 95%;
    height: 85%;
    margin: 0 auto;
}
.quickabout {
    padding: 4em 2em 1em 2em;
    width: 100%;
    float: none;
    line-height: 1.7;
    font-size:.8em;
}
.quickabout p{
        padding-top: 2em;
    }
.avatar {
    width: 100%;
    height: 19em;
    float: none;
    position: absolute;
    bottom: 0;
    display: none;
}

.social {
    display: none;
}
.contact {
    padding-top: 0;
    width: 95%;
    height: 17em;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    margin: 1em;
}
.card {
    
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 auto;
}
    .highschool, .college, .webdev {
        font-size: .85em;
     }
    .highschool {
        height: 22%;
    }
    .college {
        height: 22%
    }
    .webdev {
        height: 30%
    }
    
}

@media screen and (max-width: 635px){
    .edskills .title {
    font-size: .7em;
    width: 20em;
    }
.description {
    height: 100%;
    width:100%;
    padding: .7em;
    border:none;
    position: relative;
    background: none;
    text-align: center;
    float: none;
}
.description span {
    font-size: .7em;
}
.description .header{
    padding-bottom:.2em;
}
.description p{
    font-size: .8em;
    line-height: 1.4;
    width: 100%;
}

.description .skills {
    right: inherit;
    top: inherit;
    position: inherit;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    line-height: 1em;
    opacity: 1;
    display: inline;
    }
.skills.skills1, .skills.skills2, .skills.skills3 {
    top: 1em;
      
}
    .skills .fa-circle{
        display: none;
    }
    .header h2{
        font-size: 1em;
    }
    .college h2 span {
        display: none;
    }


.skills .ratings {
    margin-bottom: 5px;
}
    .cta{
        font-size: .8em;
    } 
    .footer {
        font-size: .8em;
        width: 100%;
        top:140%;
    }
    
    
    
}




@media screen and (max-width: 450px){
    
.content {
    font-size:.7em;
        
    }  
    .content .cta {
        font-size: .9em;
    }
    
.about{
        font-size: .85em;
    }
.outter {
    width: 95%;
    height: 85%;
    margin: 0 auto;
}

.quickabout {
    padding: 4em 2em 1em 2em;
    width: 100%;
    float: none;
    line-height: 1.7;
    font-size:.8em;
}
.quickabout p{
        padding-top: 2em;
    }

.avatar {
    width: 100%;
    height: 19em;
    float: none;
    position: absolute;
    bottom: 0;
    display: none;
}
.social {
    display: none;
}
.contact {
    padding-top: 0;
    width: 95%;
    height: 17em;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    margin: 1em;
}
.card {
    
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 auto;
}
    .footer {
        top: 160%;
    }  
    
    
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}













